:root {
    --bg: #363533;
    --fg: #c9c9c9;
}

body {
    background-color: var(--bg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    background-color: rgba(0, 0, 0, 10);
    border-radius: 10px;
    overflow: hidden;
}

.btn-navbar {
    font-size: 24px;
}

#navbar .btn-navbar {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

#navbar .btn-navbar:hover {
    background-color: #ddd;
    color: black;
}

#about {
    color: rgb(212, 209, 209);
}

.selected {
    background-color: #04AA6D;
    color: white;
}

#navbar .btn-navbar:active {
    background-color: #04AA6D;
    color: white;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.green {
  color: lightgreen;
}

.blue {
  color: lightblue;
}

.nohover:hover {
    background-color: auto;
    color: auto;
}

.downloads {
    display: block;
}

.red {
    color: red;
}

  /* buttons */
  .btn {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* Green */
  .success {
    border-color: #04AA6D;
    color: green;
  }
  
  .success:hover {
    transition: 0.5s;
    background-color: #04AA6D;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
    transition: 0.5s;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
    transition: 0.5s;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
    transition: 0.5s;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }

  .logo {
    display: flex;
    margin: auto;
    animation: 1s ease-in 1 show;
  }

  header {
    align-items: center;
  }
  
  .default:hover {
    background: #e7e7e7;
    transition: 0.5s;
  }

  #about {
    align-items: center;
    text-align: center;
    animation: 1s ease-in 1 slideInLeft;
  }
  
  .bold {
    font-weight: bold;
    text-decoration: overline;
  }

  .color-blue {
    color: lightblue;
  }

  .color-gray {
    color: gray;
  }

  @keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}

@keyframes slideInLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

.bottom-center {
  position: fixed;
  bottom: 1rem;
}