:root {
    --bg: #363533;
    --fg: #c9c9c9;
}

body {
    background-color: var(--bg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    background-color: rgba(0, 0, 0, 10);
    border-radius: 10px;
    overflow: hidden;
}

.btn-navbar {
    font-size: 24px;
}

#navbar .btn-navbar {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

#navbar .btn-navbar:hover {
    background-color: #ddd;
    color: black;
}

.selected {
    background-color: #04AA6D;
    color: white;
}

#navbar .btn-navbar:active {
    background-color: #04AA6D;
    color: white;
}

.nohover:hover {
    background-color: auto;
    color: auto;
}

.properties {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    padding-top: 4rem;
    padding-left: 3rem;
    margin-bottom: -2rem;
    color: #868787;
}

.blog-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1e1f1f;
    border-radius: 12px;
    padding-bottom: 2rem;
}

.blog-description {
    font-size: 18px;
    font-weight: bold;
    padding-left: 3rem;
    color: #d7d5d5;
}

.title {
    font-size: 48px;
    color: #d7d5d5;
}